include includs/mayMix.pug
include includs/mayvar.pug
html(lang='en')
  head 
  meta(charset='utf-8')
  meta(name='description' content='Learn PugJs')
  block pageTitle
    title My Resume 
  include includs/style
  body 
    block pageInfo 
      main main page content
    block pageContent
    div the <strong> bferCode </strong> greter than
    div='this <strong>tag</strong>will not appear'
    div!='this <strong>tag</strong>will not appear'
    li(class='testing ' + className) php
    div(class='main-container',id='main')
      h2(class='main=tetle') my skills
    - for(let x = 0;x<=10;x++)
      li medo 
    - for(let m=0;m<=15;m++)
      p #{m}
    - let m = 0
    ul 
      while m < 30
        li=m++
    each val in [1,2,3,4,5]
      div=val 
    each val,index in['medo','syed','mose','kt','his']
      div=index + 1 + ' : ' + val
    each val in []
      div=val
    else
      p medoapoali 
    ul(class='sdill-list')
      il php #{theName.toUpperCase()}
      il mysql #{themtag}
      il mysql !{themtag}
      il sass #{'}'}!
      il pugjs \#{osama}
      il pugjs #{'#{osama}'}
    +maySkills 
      //- bold inter coletion
      p.inter medoapoali #[b bold] text after element

    div(class='parent') parent div
    div(class='child ' + className) child div
    div 
      +feture('Cheap prece')
      +feture('fast support')
    
    - let friends = 3
    case friends 
      when 0
        -break
      when 1
        pyou nave no friends 
      default 
        p you have #{friends} friends
      //- sowetch caess
    - let gearFriends = 3
    case gearFriends 
      when 0: p you not have gearFriends
      when 1: p you have one gearFriends 
      default: p you have #{gearFriends} gearFriends
    include includs/script 
    111